#cards{
    display: flex;
    justify-content: space-between;
}
#przychody{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 50vh;
    background-color: aliceblue;
    overflow: auto; 
    align-content: center;

}

#wydatki{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 50vh;
    background-color: aliceblue;
    overflow: auto; 
    align-content: center;
}